---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "NOV 2024 - Present | Part-time",
    title: "Competitive Programming Intern",
    company: "ICPC - International Collegiate Programming Contest",
    location: "Remote",
    description: `
    Developing skills in advanced DSA, and problem-solving through competitive programming challenges. While using Python to solve programming challenges, improving logic building, and computational efficiency. Futhermore, engaging in a collaborative learning environment to strengthen programming techniques for real-world applications.
  `,
    link: "https://icpc.foundation/",
  },
  {
    date: "OCT 2020 – JULY 2022",
    title: "Machine Learning Research Assistant",
    company: "DeustoTech - Deusto Institute of Technology",
    location: "Bilbao, Spain",
    description: `
    Optimized an AutoML algorithm for supervised traffic forecasting, improving model selection efficiency.
    Streamlined the codebase by removing over 400 redundant lines, boosting execution time, and added proper documentation.
    Assisted in R&D projects with a team of researchers, supporting innovation in AutoML and Computer Vision.
  `,
    link: "https://deustotech.deusto.es/",
  },
  
  
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
