---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "OCT 2020 – JULY 2022",
    title: "Machine Learning Research Assistant",
    company: "DeustoTech - Deusto Institute of Technology",
    location: "Bilbao, Spain",
    description: `
    Optimized an AutoML algorithm for supervised traffic forecasting, improving model selection efficiency.
    Streamlined the codebase by removing over 400 redundant lines, boosting execution time, and added proper documentation.
    Assisted in R&D projects with a team of researchers, supporting innovation in AutoML and Computer Vision.
  `,
    link: "https://deustotech.deusto.es/",
  },
  
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
