---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Currently...",
    title: "Graduate Student",
    company: "Illinois Institute of Technology",
    description:
      "Master in Computer Science specializating in AI",
    link: "",
  },
  
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
