---
const personalImageAlt = "Chenglong Wu"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
import GithubIcon from "@/components/icons/GitHub.astro"
import { Lanyard } from "@/components/Lanyard"
---

<div class="relative">
  <div class="flex flex-col md:flex-row justify-between items-start gap-8">
    <div class="flex-1 max-w-xl">
      <div class="flex gap-4 mb-4">
        <img
          class="rounded-full shadow-lg size-16"
          src="/clwuyang.webp"
          alt={personalImageAlt}
        />
        <a
          href="https://linkedin.com/in/cwuyang"
          target="_blank"
          rel="noopener"
          class="flex items-center transition md:justify-center md:hover:scale-105"
        >
          <Badge>Available to work | Willing to relocate</Badge>
        </a>
      </div>
      <h1
        class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
      >
        Hey, I'm Chenglong
      </h1>
      <p
        class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
      >
        New Grad <strong>Developer</strong> from Illinois Institute of Technology. 
        Specialized in <strong>Artificial Intelligence, Data Analytics and Software Engineering</strong>. 
        Trying to contribute to the world by putting my grain of sand.
      </p>
      <nav class="flex flex-wrap gap-4 mt-8">
        <SocialPill href="mailto:clwuyang@gmail.com">
          <MailIcon class="size-4" />
          Contact me
        </SocialPill>
        <SocialPill href="https://linkedin.com/in/cwuyang">
          <LinkedInIcon class="size-4" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/clwuyang">
          <GithubIcon class="size-4" />
          Github
        </SocialPill>
      </nav>
    </div>
    <div class="w-full md:w-[600px] h-[500px] relative">
      <Lanyard client:load />
    </div>
  </div>
</div>

<script>
  const flipButton = document.getElementById('flip-card');
  const flipEvent = new CustomEvent('flip-card');

  flipButton?.addEventListener('click', () => {
    document.dispatchEvent(flipEvent);
  });
</script>
